<!-- 雙層花括號表示此處顯示變量 -->
<!-- 繼承基礎模板base.html -->
{% extends "base.html" %}
{%  block title %} {{article.title}} {% endblock %}
<!-- 重寫block content塊標籤 -->
{% block content %}
<div class="row text-centent vertical-middle-sm">
    <h1>{{article.title}}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center"><span>{{article.author.username}}</span>
        <span style="margin-left:20px">{{publish}}</span>
        </p>
        <div>{{article.body}}</div>
    </div>
    <div>
        <div class="col-xs-6 cpl-md-4">
            <h2>TEST</h2>
            <p>you raise me up</p>
        </div>
    </div>
</div>
{%  endblock %}